body,h1, section,figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}
.canvas-wrap{
  width: 100svw;
  height: 100svh;
  cursor: pointer;
  position: relative;
  isolation: isolate;
}

#colorCanvas{
  pointer-events: none;
  mix-blend-mode: overlay;
  transition: background-color 4s cubic-bezier(0.28, 0, 0.18, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}